@page "/"
@using RestSharp
@using blazor_web_assembly.Data
@inject IJSRuntime JSRuntime

<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Mensagem</label>
        <textarea class="form-control" rows="3" @bind="msg"></textarea>
    </div>
</form>
<br>
<button type="button" class="btn btn-success" @onclick="enviarMensagem">Enviar</button>
<br>
<br>

<h3>Números cadastrados para envio <span class="badge badge-secondary">Novo</span></h3>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">+55</span>
    </div>
    <input type="text" class="form-control" placeholder="Ex: 16997919687" aria-describedby="basic-addon1"
    @bind="novoNumero">
    <button type="button" class="btn btn-primary" @onclick="addTelefone">Adicionar</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">WhatsApp</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var (telefone, index) in telefones.Select((item, index) => (item, index + 1)))
    {
        <tr>
            <th scope="row">@index</th>
            <td>@telefone.numero</td>
        </tr>
    }   
    </tbody>
</table>



@code {
    
    public class Telefone
    {
        public string numero { get; set; }
    }

    private string novoNumero = "";
    private string msg = "";
    private List<Telefone> telefones = new List<Telefone>();

    void addTelefone()
    {
        if (!string.IsNullOrWhiteSpace(novoNumero))
        {
            telefones.Add(new Telefone { numero = "+55"+novoNumero });
            //JSRuntime.InvokeVoidAsync("alert", novoNumero);
            novoNumero = "";
        }
    }
    
    void enviarMensagem()
    {
        if (!string.IsNullOrWhiteSpace(msg))
        {
            //telefones.Add(new Telefone { numero = "+55"+novoNumero });
            //JSRuntime.InvokeVoidAsync("alert", msg);

             foreach (var _telefones in telefones)
             {
                  var client = new RestClient("https://wpp-service.onrender.com");
                        //client.Timeout = -1;

                        var body = new Body();
                        body.number = (_telefones.numero).Replace("+","");
                        body.message = msg;

                        var request = new RestRequest("zdg-message", Method.Post);
                        request.AddHeader("Content-Type", "application/json");
                        request.AddBody(body);
                        request.AddParameter("application/json", body, ParameterType.RequestBody);

                        var chamada = client.Execute(request, Method.Post );
                        //Console.WriteLine(a.Content);
                        //JSRuntime.InvokeVoidAsync("alert", chamada.Content);
                        msg = "";
             }    
        }
    }
}
